.navbar{
   
   
    position: sticky;
    width: 100%;
}

.navbar-brand img{
    border-radius: 20px;
    }
.navbar .container-fluid{
    background-color:darkcyan;
}
.nav-item{
    margin-left: 10px;
    padding: 20px;
    text-align: center;
}
.nav-item a{
    margin-left: 10px;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-item a:hover{
    background-color: red;
}
#map iframe{
    width: 1100px;
    margin-left: 10vw;
    margin-top: 70px;
}